
.page {
  background-color: chocolate;
  background-size: 100%;

}

.title {
  background-color: blanchedalmond;
  font-family: sans-serif;
  text-align: center;
  padding: 20px;
  color: rgb(253, 140, 10)
}


.subtitle{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding: 20px;
  color: black;  
}



.get{

  margin-left: 1250px;

}

.boxes{
  display: inline-flex;
}

.boxes #box1{
display:inline-block;
 text-align: center;
 border-style: solid;
 margin-top: 10px;
  margin-bottom: 1000px;
  margin-right: 90px;
  margin-left: 120px;
  padding: 50px;
  width: 200px;
 

}

.boxes #box2{
  display: inline-block;
  text-align: center;
  border-style: solid;
  margin-top: 10px;
   margin-bottom: 1000px;
   margin-right: 90px;
   margin-left: 10px;
   padding: 50px;
   width: 200px;
   
  
 
 }

 .boxes #box3{
  display: inline-block;
  text-align: center;
  border-style: solid;
  margin-top: 10px;
   margin-bottom: 1000px;
   margin-right: 90px;
   margin-left: 10px;
   padding: 50px;
    width: 200px;
   
 
 
 }



